html {
	box-sizing: border-box;
	color: var(--color-black);
	/*
		Font-size is set to a percentage of the user agent font size setting
		so users have the option of controlling the base font size in their 
		browser settings.

		If rem units are used (with em units for media queries) then the 
		project will scale to the font size setting.

		Px units are fine but there's a small accessibility gain that is a
		free win by building the project with rem values.

		62.5% is set to make calculations through the project easier and it's
		based on a common standard of 16px for the default browser font size. 
		62.5% of 16 = 10. This means we can calculate values like this 20px = 2rem 
		and 300px = 30rem (divide px value by 10). 
	*/
	font-size: 62.5%;
	line-height: var(--font-line-height-base);
}

body {
	font-family: var(--font-primary);
	font-size: var(--font-size-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Remove the gaps */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
