:root {
    /* Base: base unit for project spacing */
    --bu: 4;

    /* Font: font-family */
    --font-primary: "arial, sans-serif";
    --font-secondary: "serif";
    
    /* Font: line-height */
    --font-line-height-base: 1.6rem;
    
    /* Font: font-size */
    --font-size-base: 1.6rem;
    --font-size-sm: 1.6rem;
    --font-size-sm-md: 2rem;
    --font-size-md: 2.4rem;
    --font-size-md-lg: 2.8rem;
    --font-size-lg: 3.2rem;
    --font-size-xlg: 4rem;

    /* Color: base */
    --color-heading: #111;
    --color-paragraph: #333;
    --color-hr: #333;
    --color-placeholder: #333;
    --color-selection: #2793c7;

    /* Color: brand */
    --color-primary: #111;
    --color-secondary: #222;
    --color-tertiary: #333;
    --color-black: #000;
    --color-white: #fff;

    /* Color: Misc */
    --color-tests: #f00;    

    /* Paths */
    --path-image: 'img';
    --path-font: 'font';    
}
