:root {
    /* Font family */
    --font-primary: "arial, sans-serif";
    --font-secondary: "serif";
    
    /* Font line height */
    --font-line-height-base: 1.6rem;
    
    /* Font size */
    --font-size-base: 1.6rem;
    --font-size-sm: 1.6rem;
    --font-size-sm-md: 2rem;
    --font-size-md: 2.4rem;
    --font-size-md-lg: 2.8rem;
    --font-size-lg: 3.2rem;
    --font-size-xlg: 4rem;
}
