:root {
    /* base */
    --color-heading: #111;
    --color-paragraph: #333;
    --color-hr: #333;
    --color-placeholder: #333;
    --color-selection: #2793c7;

    /* brand */
    --color-primary: #111;
    --color-secondary: #222;
    --color-tertiary: #333;
    --color-black: #000;
    --color-white: #fff;

    /* mix */
    --color-tests: #f00;
}
