// -- base unit for project spacing
$bu: 4;

// -- includes
// including the spacing utilities will add bloat to the project
// and is set to false by default - only include if necessary
// see utilities.spacing.scss
$include-spacing-utilities: false !default;

// -- tests
$accessibility-test: true !default; // set to true for testing accessibility
