*,
*::before,
*::after {
	box-sizing: inherit;
}

// -- remove text-shadow in selection highlight
::selection {
	background: $color-selection;
	color: $color-white;
	text-shadow: none;
}

@include placeholder {
	color: $color-placeholder;
	font-size: 1.6rem;
}
