/* Hide from screen readers */
.u-hidden {
	display: none !important;
}

/* Hide visually and from screen readers, but maintain layout */
.u-invisible {
	visibility: hidden;
}

/* 
	Hide only visually, but have it available for screen readers:
	http://snook.ca/archives/html_and_css/hiding-content-for-accessibility 
*/
.u-sr {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

/*	
	Extends the .u-visuallyhidden class to allow the element to be focusable
	when navigated to via the keyboard:
	https://www.drupal.org/node/897638 
*/
.u-sr.u-focusable:focus,
.u-sr.u-focusable:active {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
